@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
	--cyanOscuro: #00494d;
	--grisOscuro: #5e7a7d;
	--griscyan: #7f9c9f;
	--griscyanClaro: #c5e4e7;
	--griscyanClaroClaro: #f4fafa;
	--input: #f3f8fb;
}

body {
	margin: 0;
	font-family: 'Space Mono', monospace !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--griscyanClaro);
}

main {
	background-color: white;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	margin: 20px auto 0;
	width: 86%;
	padding: 8% 6%;
}