@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
	--cyanOscuro: hsl(183, 100%, 15%);
	--grisOscuro: hsl(186, 14%, 43%);
	--griscyan: hsl(184, 14%, 56%);
	--griscyanClaro: hsl(185, 41%, 84%);
	--griscyanClaroClaro: hsl(189, 41%, 97%);
	--blanco: hsl(0, 0%, 100%);
}

body {
	margin: 0;
	font-family: 'Space Mono', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--griscyanClaro);
}

main {
	background-color: white;
	width: 90%;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}